<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/layout/styles/layoutlog.css" />
<link rel="stylesheet" href="/layout/styles/indexLayout.css" />
<link rel="stylesheet" href="/layout/styles/griglia.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

<body>

<div>
    <div>
          <div class="justify-content-between fixed-top d-flex" style="padding: 10px;background-color: #383838;">
          		<div><a th:href="@{/index}" style="text-decoration: none; color:white; margin-top: 20px;" ><h5 style="font-family: none; padding: 1px"><b>[markslist]</b></h5></a></div>
          		<div class="justify-content-between d-flex">
          		<!-- admin loggato -->
          		<div th:if="${role}=='ADMIN'" class="justify-content-between d-flex" style="width: 370px">
          			<a th:href="@{/admin/panel}" ><span class="btn btn-block py-1 btn-primary" style="padding: 20px"><b>Pannello di amministrazione</b></span></a>
          			<a th:href="@{/logout}" ><span class="btn btn-block py-1 btn-primary"  style="padding: 20px"><b>Logout</b></span></a>
          		</div>
                <!-- user non loggato -->
                <div th:if="${role!='DEFAULT'} and ${role!='ADMIN'}" class="justify-content-between d-flex" style="width: 200px">
                	<a th:href="@{/login}" ><span class="btn btn-block py-1 btn-primary" style="padding: 20px"><b>Login</b></span></a>
                	<a th:href="@{/register}" ><span class="btn btn-block py-1 btn-primary"  style="padding: 20px"><b>Register</b></span></a>
                </div>
                <!-- user loggato -->
                <div th:if="${role=='DEFAULT'}" class="justify-content-between d-flex" style="width: 470px">
                    <a th:href="@{/add}" ><span class="btn btn-block py-1 btn-primary" style="padding: 20px"><b>Inserisci Inserzione</b></span></a>
          			<a th:href="@{/myads}" ><span class="btn btn-block py-1 btn-primary" style="padding: 20px"><b>Le mie inserzioni</b></span></a>
                	<a th:href="@{/logout}" ><span class="btn btn-block py-1 btn-primary"  style="padding: 20px"><b>Logout</b></span></a>
                </div>
                </div>
          </div>
    </div>
</div>
<div>
<div class="d-md-flex half">
	<div class="contents">
		<div class="container" style="max-width: 1400px; margin-top: 70px">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-12">
					<div class="form-block mx-auto" style="max-width: 1700px">
						<div class="text-center mb-3">
						<br>
						<div class="row justify-content-center">
						<form th:action="@{/index/search/result}" method="POST">
							<div class="form-group first row align-items-center">
								<input style="height: 34px; width: 700px; text-align:center" name="keyword" type="text" class="form-control" placeholder="trova quello che ti serve" id="keyword">
								<input type="submit" value="Trovalo!" class="btn btn-block py-1 btn-primary" style="width: 200px; margin-left: 10px">
							</div>
						</form>
						</div>
						</div>
						<br>
						<div class="griglia mr-2 ml-2" th:if="${inserzioniPagina.size}>0">
						<span id="ins_size" style="display: none;" th:text="${inserzioniPagina.size}"></span>
						<th:block th:each="inserzione : ${inserzioniPagina}">
							 <tr>
								<td>
									<span id="span_id" style="display: none;" th:text="'/ad/' + ${inserzione.id}"></span>
									<div id="io" style="color: white; cursor:pointer" class="round">				
											<div><a th:href="'/ad/' + ${inserzione.id}"><img th:src="'/immagini-inserzioni/user-' + @{${inserzione.user.id}} + '/inserzione-' + @{${inserzione.id}} + '/' + @{${inserzione.imagePath}}" alt="" style="width:298px;height:240px; border: 2px solid transparent; border-radius: 10px;">
											</a></div>
											<div class="justify-content-between d-flex" style="margin-top:4px">
												<a th:href="'/ad/' + ${inserzione.id}" class="h6" style="color: white;font-size: 120%; text-align: left; margin-left: 4px; text-decoration: none"><b>€[[${inserzione.prezzo}]]</b></a>
												<div>&nbsp&nbsp&nbsp</div>
												<a th:href="'/ad/' + ${inserzione.id}" class="h6" style="color: white;font-size: 120%; text-align: right; margin-right: 4px; text-decoration: none"><b>[[${inserzione.titolo}]]</b></a>
											</div>
								  	</div>
								
								</td>
							</tr>
						</th:block>
						</div>
						<div style="color: white; position: absolute; bottom: 0; right: 0; left: 0; margin-bottom: 10px" class="text-center justify-content-center d-flex">


						<span id="has_previous" th:text=" @{${hasPrecedentePagina}}" style="display: none"></span>
						<span id="has_next" th:text=" @{${hasProssimaPagina}}" style="display: none"></span>	
						
											
						<span id="page_number_previous" th:text=" @{${page-1}}" style="display: none"></span>
						<span id="page_number_next" th:text=" @{${page+1}}" style="display: none"></span>
						<div onclick="
							if(document.getElementById('has_previous').innerHTML == 'true')
							document.location='/index/page/' + document.getElementById('page_number_previous').innerHTML
						" class="round" style="cursor: pointer; border: 2px solid rgb(192, 192, 192); border-right: 0; width: 40px; height: 40px; border-top-right-radius: 0; border-bottom-right-radius: 0"><div style="margin-top: 9px"><h6><b><</b></h6></div></div>
						<div class="round" style="border: 2px solid rgb(192, 192, 192); width: 40px; height: 40px; border-radius: 0"><div style="margin-top: 9px"><h6><b>[[${page}]]</b></h6></div></div>
						<div onclick="
							if(document.getElementById('has_next').innerHTML == 'true')
							document.location='/index/page/' + document.getElementById('page_number_next').innerHTML
						" class="round" style="cursor: pointer; border: 2px solid rgb(192, 192, 192); border-left: 0; width: 40px; height: 40px; border-top-left-radius: 0; border-bottom-left-radius: 0"><div style="margin-top: 9px"><h6><b>></b></h6></div></div>
						
						</div>
						<div th:if="${inserzioniPagina.size}==0" style="color: white" class="text-center">Al momento non sono presenti inserzioni attive nel nostro database</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</body>
</html>